body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'AntonaMedium';
  background: rgb(206,172,223);
background: linear-gradient(0deg, rgba(206,172,223,1) 0%, rgba(131,93,150,1) 100%);
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: #fff;
}

header #notice{
  display: none;
  background-color: #b4e7b4;
  color: #0f610f;
  padding: 1rem 2rem 1rem 1rem;
}

header #error{
  display: none;
  background-color: #e8b5b5;
  color: #610f0f;
  padding: 1rem 2rem 1rem 1rem;
}

header #notice p, 
header #error p{
  margin: 0;
}

h3, h5{
   color: #4b5c6f; 
   margin: 0;
}   

a{
 color: #1673d0;
}
a:hover{
 color: #ffffff;
}

button{ 
  padding: 1rem 2rem;
  background: #275889; 
  color: #fff;
  text-decoration: none;
  align-items: center;
  border: none;
  cursor: pointer;
  font-family: 'AntonaMedium';
}
button:hover{
    background: #1673d0;
} 

section{
  transition: visibility 0s, opacity 0.5s linear;
  padding: 2rem;  
}

section img{
  width: 1.5rem;
}
section h1{
  font-size: 2rem;
}
section.show{
  visibility: visible;
  opacity: 1;
  height: auto;
}
section.hide{
  visibility: hidden;
  opacity: 0;
  height: 0;
  padding: 0;
  border: none;
} 
 

form{
  text-align: right;
}
fieldset{
  border: 0;
  display: flex;
}
fieldset label{
  width: 5rem;
  text-align: right;
  padding: 1rem;
  background-color: #27588944;
  text-align: center;
}
fieldset input { 
  border: 0;
  padding: 1rem;
}

fieldset.actions{
  justify-content: space-between;
}
fieldset.actions label{ 
  background: transparent;
}

fieldset.actions a{ 
  padding: 1rem 1rem 1rem 0;
  cursor: pointer;
  text-decoration: underline;
}



footer{ 
  text-align: center; 
  padding: 2rem;
}
footer a {
  cursor:pointer; 
  text-decoration: underline;
}